<div ng-controller="KbnWdGeneratorVisController" class="wd_generator-vis">
    {{vis.params.wd_generator.description}} <br /><br />
    
    <a ng-href="" ng-click="simulate('server_failure')">Simulate server failure</a> {{vis.params.wd_generator.result.server_failure}} <br />

    <a ng-href="" ng-click="simulate('exploit')">Simulate exploit</a> {{vis.params.wd_generator.result.exploit}} <br />

    <a ng-href="" ng-click="simulate('dead_link')">Simulate dead link</a> {{vis.params.wd_generator.result.dead_link}} <br />

    <br /> {{vis.params.wd_generator.stat}} <br />
</div>
