<div ng-controller="KbnWdGeneratorVisController" class="wd_generator-vis">
    <div ng-bind-html="html">
        <div>{{vis.params.wd_generator.description}}</div><br />
    
        <div><a id="server_failure" href="" ng-click="simulate('server_failure')">Simulate server failure</a></div>
        <div ng-show="vis.params.wd_generator.server_failure_result" class="ng-hide">{{vis.params.wd_generator.server_failure_result}}</div><br />

        <div><a id="exploit" href="" ng-click="simulate('exploit')">Simulate exploit</a></div>
        <div ng-show="vis.params.wd_generator.exploit_result" class="ng-hide">{{vis.params.wd_generator.exploit_result}}</div><br />

        <div><a id="dead_link" href="" ng-click="simulate('dead_link')">Simulate dead link</a></div>
        <div ng-show="vis.params.wd_generator.dead_link_result" class="ng-hide">{{vis.params.wd_generator.dead_link_result}}</div>
    </div>
</div>
